#bg_slider .ls-wp-fullwidth-container,
#bg_slider .ls-wp-container,
#bg_slider .ls-container {
    overflow: hidden;
}

#bg_slider .ls-wp-fullwidth-container img,
#bg_slider .ls-wp-container img,
#bg_slider .ls-container img {
    max-width: 100%;
}

#bg_slider .ls-wp-fullwidth-container img[class*="ls-bg"],
#bg_slider .ls-wp-container img[class*="ls-bg"],
#bg_slider .ls-container img[class*="ls-bg"] {

}