/* ============================================================================
 :: INPUT ANIMATIONS
 ============================================================================== */

/* =To Left
 ------------------------------- */
#primary.to_left {
    -webkit-animation-name: position-to-left;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: position-to-left;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -ms-animation-name: position-to-left;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: forwards;

    animation-name: position-to-left;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

/* =To Right
 ------------------------------- */
#primary.to_right {
    -webkit-animation-name: position-to-right;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: position-to-right;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -ms-animation-name: position-to-right;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: forwards;

    animation-name: position-to-right;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

/* =To Bottom
 ------------------------------- */
#primary.to_bottom {
    -webkit-animation-name: position-to-bottom;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: position-to-bottom;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -ms-animation-name: position-to-bottom;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: forwards;

    animation-name: position-to-bottom;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

/* =To Top
 ------------------------------- */
#primary.to_top {
    -webkit-animation-name: position-to-top;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: position-to-top;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;

    -ms-animation-name: position-to-top;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: forwards;

    animation-name: position-to-top;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: forwards;
}

/* =Position to Left
   -------------------------------------- */
@-webkit-keyframes position-to-left {
    from { -webkit-transform: translateX(0); opacity: 1; }
    to { -webkit-transform: translateX(-120%); opacity: 0; }
}

@-moz-keyframes position-to-left {
    from { -moz-transform: translateX(0); opacity: 1; }
    to { -moz-transform: translateX(-120%); opacity: 0; }
}

@-ms-keyframes position-to-left {
    from { -ms-transform: translateX(0); opacity: 1; }
    to { -ms-transform: translateX(-120%); opacity: 0; }
}

@keyframes position-to-left {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(-120%); opacity: 0; }
}

/* =Position to Right
   -------------------------------------- */
@-webkit-keyframes position-to-right {
    from { -webkit-transform: translateX(0); opacity: 1; }
    to { -webkit-transform: translateX(120%); opacity: 0; }
}

@-moz-keyframes position-to-right {
    from { -moz-transform: translateX(0); opacity: 1; }
    to { -moz-transform: translateX(120%); opacity: 0; }
}

@-ms-keyframes position-to-right {
    from { -ms-transform: translateX(0); opacity: 1; }
    to { -ms-transform: translateX(120%); opacity: 0; }
}

@keyframes position-to-right {
    from { transform: translateX(0); opacity: 1; }
    to { transform: translateX(120%); opacity: 0; }
}

/* =Position to Bottom
   -------------------------------------- */
@-webkit-keyframes position-to-bottom {
    from { -webkit-transform: translateY(0); opacity: 1; }
    to { -webkit-transform: translateY(120%); opacity: 0; }
}

@-moz-keyframes position-to-bottom {
    from { -moz-transform: translateY(0); opacity: 1; }
    to { -moz-transform: translateY(120%); opacity: 0; }
}

@-ms-keyframes position-to-bottom {
    from { -ms-transform: translateY(0); opacity: 1; }
    to { -ms-transform: translateY(120%); opacity: 0; }
}

@keyframes position-to-bottom {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(120%); opacity: 0; }
}

/* =Position to Top
   -------------------------------------- */
@-webkit-keyframes position-to-top {
    from { -webkit-transform: translateY(0); opacity: 1; }
    to { -webkit-transform: translateY(-120%); opacity: 0; }
}

@-moz-keyframes position-to-top {
    from { -moz-transform: translateY(0); opacity: 1; }
    to { -moz-transform: translateY(-120%); opacity: 0; }
}

@-ms-keyframes position-to-top {
    from { -ms-transform: translateY(0); opacity: 1; }
    to { -ms-transform: translateY(-120%); opacity: 0; }
}

@keyframes position-to-top {
    from { transform: translateY(0); opacity: 1; }
    to { transform: translateY(-120%); opacity: 0; }
}


/* ============================================================================
 :: OUTPUT ANIMATIONS
 ============================================================================== */

/* =From Left
 ------------------------------- */
#primary.from_left {
    -webkit-animation-name: left-to-position;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: backwards;

    -moz-animation-name: left-to-position;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: backwards;

    -ms-animation-name: left-to-position;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: backwards;

    animation-name: left-to-position;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

/* =From Right
 ------------------------------- */
#primary.from_right {
    -webkit-animation-name: right-to-position;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: backwards;

    -moz-animation-name: right-to-position;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: backwards;

    -ms-animation-name: right-to-position;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: backwards;

    animation-name: right-to-position;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

/* =From Top
 ------------------------------- */
#primary.from_top {
    -webkit-animation-name: top-to-position;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: backwards;

    -moz-animation-name: top-to-position;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: backwards;

    -ms-animation-name: top-to-position;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: backwards;

    animation-name: top-to-position;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

/* =From Bottom
 ------------------------------- */
#primary.from_bottom {
    -webkit-animation-name: bottom-to-position;
    -webkit-animation-duration: 1s;
    -webkit-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: backwards;

    -moz-animation-name: bottom-to-position;
    -moz-animation-duration: 1s;
    -moz-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -moz-animation-iteration-count: 1;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: backwards;

    -ms-animation-name: bottom-to-position;
    -ms-animation-duration: 1s;
    -ms-animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    -ms-animation-iteration-count: 1;
    -ms-animation-direction: normal;
    -ms-animation-delay: 0;
    -ms-animation-play-state: running;
    -ms-animation-fill-mode: backwards;

    animation-name: bottom-to-position;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(1.000, 0.000, 0.000, 1.000);
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-delay: 0;
    animation-play-state: running;
    animation-fill-mode: backwards;
}

/* =Left to Position
   -------------------------------------- */
@-webkit-keyframes left-to-position {
    from { -webkit-transform: translateX(-120%); opacity: 0; }
    to { -webkit-transform: translateX(0); opacity: 1; }
}

@-moz-keyframes left-to-position {
    from { -moz-transform: translateX(-120%); opacity: 0; }
    to { -moz-transform: translateX(0); opacity: 1; }
}

@-ms-keyframes left-to-position {
    from { -ms-transform: translateX(-120%); opacity: 0; }
    to { -ms-transform: translateX(0); opacity: 1; }
}

@keyframes left-to-position {
    from { transform: translateX(-120%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* =Right to Position
   -------------------------------------- */
@-webkit-keyframes right-to-position {
    from { -webkit-transform: translateX(120%); opacity: 0; }
    to { -webkit-transform: translateX(0); opacity: 1; }
}

@-moz-keyframes right-to-position {
    from { -moz-transform: translateX(120%); opacity: 0; }
    to { -moz-transform: translateX(0); opacity: 1; }
}

@-ms-keyframes right-to-position {
    from { -ms-transform: translateX(120%); opacity: 0; }
    to { -ms-transform: translateX(0); opacity: 1; }
}

@keyframes right-to-position {
    from { transform: translateX(120%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

/* =Top to Position
   -------------------------------------- */
@-webkit-keyframes top-to-position {
    from { -webkit-transform: translateY(-120%); opacity: 0; }
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes top-to-position {
    from { -moz-transform: translateY(-120%); opacity: 0; }
    to { -moz-transform: translateY(0); opacity: 1; }
}

@-ms-keyframes top-to-position {
    from { -ms-transform: translateY(-120%); opacity: 0; }
    to { -ms-transform: translateY(0); opacity: 1; }
}

@keyframes top-to-position {
    from { transform: translateY(-120%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

/* =Bottom to Position
   -------------------------------------- */
@-webkit-keyframes bottom-to-position {
    from { -webkit-transform: translateY(120%); opacity: 0; }
    to { -webkit-transform: translateY(0); opacity: 1; }
}

@-moz-keyframes bottom-to-position {
    from { -moz-transform: translateY(120%); opacity: 0; }
    to { -moz-transform: translateY(0); opacity: 1; }
}

@-ms-keyframes bottom-to-position {
    from { -ms-transform: translateY(120%); opacity: 0; }
    to { -ms-transform: translateY(0); opacity: 1; }
}

@keyframes bottom-to-position {
    from { transform: translateY(120%); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


/* ============================================================================
 :: COLLAPSE ANIMATIONS
 ============================================================================== */
#primary .site-main,
#primary .site-main div,
#primary .site-main article {
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#primary .site-main.minimized {
    background-color: transparent !important;
    box-shadow: none;
    border-style: dashed;
    overflow: hidden;
    opacity: 0.5;
    padding: 0;
}
#primary .site-main.minimized #toggle-button .minus {
    display: none;
}
#primary .site-main.minimized #toggle-button .plus {
    display: block;
}
#primary .site-main.minimized div,
#primary .site-main.minimized article {
    opacity: 0;
}