@media screen and (max-width: 1100px) {
    /*
    .main-navigation a {
        font-size: 16px !important;
    }
    .main-navigation a:hover,
    .main-navigation .current-menu-item a,
    .main-navigation .current_menu_page a {
        font-size: 16px !important;
    }
    */
    /*
    .site-header {
        min-height: 79px;
        height: auto;
    }
    */
}
@media screen and (max-width: 1000px) {
    .main-navigation {
        background: inherit;
        float: none;
        text-align: center;
        width: 100%;
    }
    .main-navigation ul.menu {
        display: inline-block;
        margin: 0 auto;
    }
    .menu-menu-container,
    .main-navigation li {
        height: 59px;
    }
    .sidebar-toggle {
        position: absolute;
        top: 0;
        right: 0;
    }
    .site-branding {
        display: inline-block;
        float: none !important;
    }
    .site-content {
        padding: 10em 1em 1em 3em;
    }
    .site-header {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .menu-menu-container {
        display: none;
    }
    .main-navigation.toggled.dropdown .menu-menu-container {
        background: inherit;
        display: block;
    }
    .main-navigation.toggled.dropdown .menu-menu-container ul.menu {
        background: inherit;
    }
    .main-navigation.toggled.dropdown .menu-menu-container li {
        display: block;
        width: 100%;
    }


    .menu-toggle {
        font-size: 2em;
        height: 100%;
        line-height: 1em;
        left: 0;
        margin: 0;
        position: absolute;
        top: 0;
        text-decoration: none;
        overflow: hidden;
        width: 80px;
        text-align: center;

        -webkit-transition: all 300ms ease-in-out;
        -moz-transition: all 300ms ease-in-out;
        -ms-transition: all 300ms ease-in-out;
        -o-transition: all 300ms ease-in-out;
        transition: all 300ms ease-in-out;
    }
    .menu-toggle span {
        display: none;
    }
    .menu-toggle i {
        color: inherit !important;
        display: block;
        margin-top: -.5em;
        position: relative;
        top: 50%;
    }
}