#toplevel_page_leviosa_settings .wp-menu-image {

}
#toplevel_page_leviosa_settings .wp-menu-image:before {
    font-family: 'FontAwesome' !important;
    content: "\e765";
}


/* =WP Admin Styles
----------------------------------------------- */
.column-lev_testimonial-image {
    max-width: 100px;
}