/*
Theme Name: leviosa
Theme URI: http://underscores.me/
Author: Annoying Wizard
Author URI: http://annoyingwizard.com/leviosa
Description: Description
Version: 1.0
License: GNU General Public License
License URI: license.txt
Text Domain: leviosa
Domain Path: /languages/
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

 leviosa is based on Underscores http://underscores.me/, (C) 2012-2013 Automattic, Inc.

Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*/


/* =Reset
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	border: 0;
	font-family: inherit;
	font-size: 100%;
	font-style: inherit;
	font-weight: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline;
}
html {
	font-size: 62.5%; /* Corrects text resizing oddly in IE6/7 when body font-size is set using em units http://clagnut.com/blog/348/#c790 */
	overflow-y: scroll; /* Keeps page centered in all browsers regardless of content height */
	-webkit-text-size-adjust: 100%; /* Prevents iOS text size adjust after orientation change, without disabling user zoom */
	-ms-text-size-adjust:     100%; /* www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/ */
}
body {
	background: #fff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block;
}
ol, ul {
	list-style: none;
}
table { /* tables still need 'cellspacing="0"' in the markup */
	border-collapse: separate;
	border-spacing: 0;
}
caption, th, td {
	font-weight: normal;
	text-align: left;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}
blockquote, q {
	quotes: "" "";
}
a:focus {
	outline: thin dotted;
}
a:hover,
a:active { /* Improves readability when focused and also mouse hovered in all browsers people.opera.com/patrickl/experiments/keyboard/test */
	outline: 0;
}
a img {
	border: 0;
}


/* =Global
----------------------------------------------- */
body {
    /*overflow-x: hidden;*/
}

body,
html {
    height: 100%;
}

body,
button,
input,
select,
textarea {
	color: #404040;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    font-weight: 300;
	line-height: 1.5;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: 'open sans condensed', sans-serif;
	clear: both;
}
hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

/* Text elements */
p {
	margin-bottom: 1.5em;
}
ul, ol {
	margin: 0 0 1.5em 3em;
}
ul {
	list-style: disc;
}
ol {
	list-style: decimal;
}
li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}
dt {
	font-weight: bold;
}
dd {
	margin: 0 1.5em 1.5em;
}
b, strong {
	font-weight: bold;
}
dfn, cite, em, i {
	font-style: italic;
}
blockquote {
	margin: 0 1.5em;
}
address {
	margin: 0 0 1.5em;
}
pre {
	background: #eee;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 1.5rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}
code, kbd, tt, var {
	font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}
mark, ins {
	background: #fff9c0;
	text-decoration: none;
}
sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {
	bottom: 1ex;
}
sub {
	top: .5ex;
}
small {
	font-size: 75%;
}
big {
	font-size: 125%;
}
figure {
	margin: 0;
}
table {
	margin: 0 0 1.5em;
	width: 100%;
}
th {
	font-weight: bold;
}
img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}
button,
input {
	line-height: normal; /* Addresses FF3/4 setting line-height using !important in the UA stylesheet */
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 1px solid #ccc;
	border-color: #ccc #ccc #bbb #ccc;
	border-radius: 3px;
	background: #e6e6e6;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
	color: rgba(0, 0, 0, .8);
	cursor: pointer; /* Improves usability and consistency of cursor style between image-type 'input' and others */
	-webkit-appearance: button; /* Corrects inability to style clickable 'input' types in iOS */
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1;
	padding: .6em 1em .4em;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
}
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	border-color: #ccc #bbb #aaa #bbb;
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
}
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
	border-color: #aaa #bbb #bbb #bbb;
	box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box; /* Addresses box sizing set to content-box in IE8/9 */
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"] {
	-webkit-appearance: textfield; /* Addresses appearance set to searchfield in S5, Chrome */
	-webkit-box-sizing: content-box; /* Addresses box sizing set to border-box in S5, Chrome (include -moz to future-proof) */
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 98%;
}

/* Links */
a {
	color: royalblue;
}
a:visited {
	color: purple;
}
a:hover,
a:focus,
a:active {
	color: midnightblue;
}

/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

.space-bottom-1 {
    margin-bottom: 1em !important;
}
.space-bottom-2 {
    margin-bottom: 2em !important;
}
.space-bottom-3 {
    margin-bottom: 3em !important;
}
.space-top-1 {
    margin-top: 1em !important;
}
.space-top-2 {
    margin-top: 2em !important;
}

/* =Site
----------------------------------------------- */
.site {
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.show_sidebar .site {
    /*
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
    */
}


/* =Menu
----------------------------------------------- */
.main-navigation {
	float: left;
}
.main-navigation.right {
    float: right;
}
.main-navigation ul {
    display: table;
	list-style: none;
	margin: 0;
	padding-left: 0;
}
.main-navigation li {
    box-sizing: border-box;
    display: table-cell;
    height: 79px;
	position: relative;
    vertical-align: middle;
}
.main-navigation a {
	display: table;
    height: 100%;
    padding: 0 1em;
    position: relative;
	text-decoration: none;
    width: 100%;

    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.main-navigation a:hover {
    background: #ddd;
}
.main-navigation a > span {
    display: table-cell;
    vertical-align: middle;
}
.main-navigation ul ul {
    background: #fff;
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	display: none;
	float: left;
	left: 0;
	position: absolute;
	top: 100%;
	z-index: 99999;
}
.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}
.main-navigation ul ul a {
	width: 200px;
}
.main-navigation ul ul li {
    height: 60px;
}
.main-navigation li:hover > a {
}
.main-navigation ul ul :hover > a {
}
.main-navigation ul ul a:hover {
}
.main-navigation ul li:hover > ul {
	display: block;
}
.main-navigation .current_page_item a,
.main-navigation .current-menu-item a {
    background-color: #ddd;
    color: #fff;
}

/* Small menu */
.menu-toggle {
	cursor: pointer;
	display: none;
}

@media screen and (max-width: 700px) {
	.menu-toggle,
	.main-navigation.toggled .nav-menu {
		display: block;
	}

	.main-navigation ul {
		display: none;
	}
}

/* =Header
----------------------------------------------- */
.site-header {
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
    color: #fff;
    height: 79px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.admin-bar .site-header {
    top: 32px;
}
.show_sidebar .site-header {

    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
}
.site-header a {
    color: #fff;
}
.site-header .logo img {

}
.site-header .site-description {
    color: #efefef;
    color: rgba(255,255,255,0.8);
    font-size: .9em;
}
.site-header .site-branding {
    float: left;
}
.site-header .site-title {
    font-size: 1.7em;
}
.site-header .site-title a {
    text-decoration: none;
}

/* =Content
----------------------------------------------- */
#ajax-loader-wrapper {
    background: #fff;
    background: rgba(255,255,255,0.9);
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;;
    padding: 1em;
    display: block;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 900;
}
#ajax-loader-wrapper[class$="_b"] {
    background: #000;
    background: rgba(0,0,0,0.9);
}
#bg_slider {
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    z-index: 0;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
#bg_slider > div {
    width: 100%;
    height: 100%;
}
#bg_slider .static-slider {
    background-size: cover;
    position: absolute;
    top: 0; right:0; bottom: 0; left: 0;
    z-index: 1;
}

.show_sidebar #bg_slider {
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
}

.sticky {
}
.hentry {
    border-bottom: 1px solid #ccc;
	margin: 0 0 2em;
    padding-bottom: 1.5em;
}

.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: .5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.admin-bar .site-content {
    padding: 6em 1em 4.5em 3em;
}
.show_sidebar.admin-bar .site-content {

}
.site-content {
    padding: 6em 1em 1em 3em;
    position: relative;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.site-content a,
.site-content a * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.show_sidebar .site-content {
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
}

#toggle-button.hide {
    display: none;
}
#toggle-button .plus {
    display: none;
}

/* =Blog templates and post formats
----------------------------------------------- */
.blog-standard .site-main {
    color: #444;
    max-width: 1200px;
    width: 80%;
}
.blog-standard .hentry {
    position: relative;
}
.blog-standard .blog-content {
    padding-right: 1em;
}
.blog-standard .blog-sidebar {
    padding-left: 1em;
}
.blog-standard .entry-content {
    color: #444;
}
.blog-standard .format-gallery .icon-wrapper {
    position: absolute;
    right: 10px;
    top: 60%;
}
.blog-standard .format-link a,
.blog-standard .format-quote a {
    text-decoration: none;
}
.blog-standard .format-link a:hover .wrapper,
.blog-standard .format-quote a:hover .wrapper {
    background: #888;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.blog-standard .format-link .entry-content-url,
.blog-standard .format-quote .entry-content {
    font-size: 1.3em;
    margin-bottom: 1em;
}
.blog-standard .format-link .icon-wrapper,
.blog-standard .format-quote .icon-wrapper {
    color: #fff;
    font-size: 16px;
    line-height: 1em;
    position: absolute;
    bottom: 1em;
    right: 1em;
}
.blog-standard .format-link .icon-wrapper i,
.blog-standard .format-quote .icon-wrapper i {
    font-size: inherit !important;
}
.blog-standard .format-link .wrapper,
.blog-standard .format-quote .wrapper {
    background: #aaa;
    padding: 1em 2em;
    position: relative;
}
.blog-standard .format-link .wrapper *,
.blog-standard .format-quote .wrapper * {
    color: #fff;
}
.blog-standard .format-video .icon-wrapper {
    display: none;
}
.blog-standard .format-quote .entry-title {
    font-size: 2em;
}
.blog-standard .entry-date-meta {
    border-bottom: 1px solid #bbb;
    border-right: 1px solid #bbb;
    left: -90px;
    padding: 0 1em .3em;
    position: absolute;
    top: 0;
}
.blog-standard .entry-date-meta .entry-month {
    display: block;
    font-size: 1.2em;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase;
}
.blog-standard .entry-date-meta .entry-day {
    display: block;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2em;
    text-align: center;
}
.entry-header .entry-meta {
    color: #888;
    display: inline;
    display: inline-block;
}
.entry-header .entry-meta a {
    color: #666;
}

.entry-content iframe {
    max-width: 100%;
}

/* =Content Area
----------------------------------------------- */
.content-area {
    overflow: hidden;
}
.site-main {
    background-color: rgba(255,255,255,0.9);
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float: left;
    max-width: 960px;
    padding: 2em;
    position: relative;
}
.blog-page .site-main {
    box-shadow: none !important;
}
a.read-more {
    background: #aaa;
    color: #fff;
    display: block;
    float: left;
    padding: .5em 1em;
    text-decoration: none;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
a.read-more:hover {
    background: #888;
    color: #fff;
}
.site-main.center {
    float: none !important;
    margin: 0 auto;
}
.site-main.right {
    float: right;
}
.site-main.hide {
    display: none;
}

.site-main h1 {
    font-size: 2.2em;
}
.site-main h2 {
    font-size: 1.7em;
}
.site-main h3 {
    font-size: 1.2em;
}
.site-main h1 a,
.site-main h2 a,
.site-main h3 a {
    text-decoration: none;
}

#toggle-button {
    color: #000;
    cursor: pointer;
    display: block;
    height: 32px;
    position: absolute;
    text-align: center;
    top: 0; right: 0;
    width: 32px;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
#toggle-button:hover,
#toggle-button:focus,
#toggle-button:active {
    background: #000;
    background: rgba(0,0,0,0.9);
    color: #fff;
}
#toggle-button i {
    left: 0;
    margin-top: -.5em;
    position: absolute;
    top: 50%;
    width: 100%;
}

/* =Widget Area
----------------------------------------------- */
.sidebar-toggle {
    display: block;
    float: right;
    height: 100%;
    text-decoration: none;
    margin: 0;
    overflow: hidden;
    position: relative;
    width: 80px;
    text-align: center;

    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}
.sidebar-toggle:hover,
.sidebar-toggle:active,
.sidebar-toggle.active {
    background: #ddd;
    color: #fff;
}
.sidebar-toggle i {
    display: block;
    font-size: 2em;
    margin-top: -.5em;
    position: relative;
    top: 50%;
}
.widget-area {
    background: #333;
    bottom: 0;
    box-shadow: inset -3px 0 10px rgba(0,0,0,0.1), inset 3px 0 10px rgba(0,0,0,0.1);
    color: #ccc;
    font-family: 'Open Sans', sans-serif;
    font-size: .9em;
    left: 100%;
    padding: 1.5em;
    position: fixed;
    top: 0;
    width: 270px;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.show_sidebar .widget-area {
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
}
.admin-bar .widget-area {
    padding-top: 3em;
}
.widget-area.left-sidebar {
    left: -270px;
}

.widget-area a {
    color: #ccc;
    font-weight: 300;
    text-decoration: none;
}
.widget-area a:hover {
    color: #fff;
}

.widget-area ul {
    list-style: none;
    margin: 0;
}

.widget-area .widget-title {
    color: #fff;
    font-size: 1.2em;
    font-weight: 600;
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* =Footer
----------------------------------------------- */

.site-footer {
    background: rgba(0,0,0,0.8);
    bottom: 0;
    box-sizing: border-box;
    box-shadow: 0 -3px 10px rgba(0,0,0,0.07);
    color: #fff;
    height: 60px;
    padding: .2em 1em;
    position: fixed;
    width: 100%;
    z-index: 2;

    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -ms-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}
.show_sidebar .site-footer {
    -webkit-transform: translate3d(-270px, 0, 0);
    -moz-transform: translate3d(-270px, 0, 0);
    -o-transform: translate3d(-270px, 0, 0);
    transform: translate3d(-270px, 0, 0);
}
.site-footer .footer-wrapper {
    display: table;
    height: 100%;
    left: 1em;
    position: absolute;
    top: .2em;
}
.site-footer .site-info,
.site-footer .widget {
    display: table-cell;
    padding: 0 1em;
    vertical-align: middle;
}

.site-footer .slider-controls {
    float: right;
    margin-top: .3em;
}
.site-footer .slider-controls a {
    display: block;
    float: left;
    font-size: 2em;
    margin-left: .3em;
    text-decoration: none;
}
.site-footer .slider-controls a.double-thin,
.site-footer .slider-controls a.thin {
    font-size: 2.5em;
    margin-top: -.2em;
}
.site-footer .slider-controls a.play-controls {
    margin-left: .5em;
}


/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 1.2% auto 0;
	max-width: 98%;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}
.site-main .gallery {
	margin-bottom: 1.5em;
}
/*
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}
*/

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}


/* =Galery Slider
----------------------------------------------- */
.gallery {
    overflow: hidden;
    padding-bottom: 48.6%;
    position: relative;
    width: 100%;
}
.gallery .controls {
    left: 10px;
    position: absolute;
    top: 10px;
}
.gallery .controls a {
    color: #fff;
    text-decoration: none;
}
.gallery .gallery-item,
.gallery .gallery-item a {
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 0;
}
.gallery-item img {
    height: auto !important;
    max-width: 100%;
    width: 100%;
}

/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
	width: 50%;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}


/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}


/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}

/* Search widget */
.widget_search .search-field {
    box-sizing: border-box;
    padding: .3em .2em;
    width: 100%;
}
.widget_search .search-submit {
	display: none;
}


/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}